<!-- Using BasicLayout file for Header -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"><h4>Recipe Details</h4></div>
                    <form class="p-a-1" method="post">
                        <!--Calling the partial view created in the shared folder named as RecipeInputs -->
                        @await Html.PartialAsync("RecipeInputs")
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" asp-controller="CRUD" asp-action="AddRecipe">Save Recipe</button>
                            <button class="btn btn-secondary"  asp-controller="Home" asp-action="Index" formnovalidate ="formnovalidate">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>